{% extends 'base.html' %}


{% block content %}

<h1 class="h1 mb-3">{{ task|title }}</h1>

<div class="row">
    <div class="col-12">
        {%for lection in lections%}
            {%for book, versicles in lection.items%}
                <div class="card">
                    <div class="card-header px-4 py-4">
                        <div class="card-actions float-end">
                            <a href="{% url 'home' %}" class="btn btn-link">Voltar</a>
                        </div>
                        <h5 class="card-title mb-0">Livro: {{ book|title }}</h5>
                        {% if task.completed %}
                            <div class="badge bg-success my-2">Completado</div>
                            <div class="badge bg-secondary my-2">{{ task.completed_at }}</div>
                        {% else %}
                            <div class="badge bg-primary my-2">Disponível</div>
                        {% endif %}
                    </div>

                    <div class="card-body px-4 pt-0 pb-4">
                        <p class="mb-0">
                            {% for versicle in versicles %}
                                <strong>{{ versicle }}</strong> {{ versicle.text }}
                            {% endfor %}
                        </p>
                    </div>

                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="col-12 text-center">
    {% if not task.completed %}
        <form action="{% url 'detail' pk=task.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Completar" name="complete">
            <input class="btn btn-primary" type="submit" value="Completar e ler a próxima" name="next">
        </form>
    {% else %}
        <a href="{% url 'home' %}" class="btn btn-link">Voltar</a>
    {% endif %}
    </div>
</div>

{% endblock content %}
