{% extends 'base.html' %}


{% block content %}

<h1 class="h1 mb-3">Leitura do dia</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Progresso</h5>
                <h6 class="card-subtitle text-muted">{{tasks|length}} de 332</h6>
            </div>
            <div class="card-body">
                <p class="card-text">
                    A estrutura utilizada para a leitura da bíblia em um ano foi com base na <a href="https://formacao.cancaonova.com/biblia/estudo-biblico/desafio-que-tal-lermos-a-biblia-inteira-neste-ano-que-se-inicia/" target="_blank">proposta</a> do monsenhor <a href="https://padrejonas.cancaonova.com/" target="_blank">Jonas Abib</a>. Utiliza-se a sequência de livros do método <a href="https://loja.cancaonova.com/livro-a-biblia-no-meu-dia-a-dia" target="_blank">Bíblia no meu dia a dia</a>, onde se fará a leitura de quatro capítulos por dia. Dessa maneira, ao final do ano, teremos 332 tarefas.
                </p>
                <p class="card-text">
                    A bíblia utilizada foi retirada da <a href="https://www.fatima.org.br/biblia-online/" target="_blank">Nossa Senhora de Fátima</a>.
                </p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress }}%"></div>
                </div>
            </div>
        </div>
    </div>

    {% for task in tasks %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header px-4 pt-4">
                    <h5 class="card-title mb-0">{{ task.obj|title }}</h5>
                    {% if task.obj.completed %}
                        <div class="badge bg-success my-2">Completado</div>
                        <div class="badge bg-secondary my-2">{{ task.obj.completed_at }}</div>
                    {% else %}
                        <div class="badge bg-primary my-2">Disponível</div>
                    {% endif %}
                </div>

                <div class="card-body px-4 py-2">
                    <p class="mb-0">
                        Livros: {{ task.books|join:", "|title }}
                        <br>Capítulos: {{ task.chapters }}
                    </p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-4 pb-4">
                        <p class="mb-2 fw-bold">
                            <a href="tasks/{{ task.obj.id }}" class="btn btn-sm btn-primary float-end">Ler</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
