{% extends 'base.html' %}


{% block content %}

<h1 class="h1 mb-3">Leitura do dia</h1>

<div class="row">
    {% for versicle in versicles %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">

                <div class="card-header px-4 pt-4">
                    <h5 class="card-title mb-0">{{ versicle }}</h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-4 pb-4">
                        <p class="mb-2 fw-bold">
                            <a href="versicles/{{ versicle.id }}" class="btn btn-sm btn-primary float-end">Ler</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
