{% extends 'base.html' %}


{% block content %}

<h1 class="h1 mb-3">Leitura do dia</h1>

<div class="row">
    {% for task in tasks %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header px-4 pt-4">
                    <h5 class="card-title mb-0">{{ task|title }}</h5>
                    {% if task.completed %}
                        <div class="badge bg-success my-2">Completado</div>
                    {% else %}
                        <div class="badge bg-primary my-2">Disponível</div>
                    {% endif %}
                </div>

                <div class="card-body px-4 py-2">
                    <p class="mb-0">
                        Livro: {{ task.lection.versicle_set.first.book|title }}
                        {% if task.lection.versicle_set.first.chapter == task.lection.versicle_set.last.chapter %}
                            <br>Capítulo: {{ task.lection.versicle_set.first.chapter }}
                        {% else %}
                            <br>Capítulos: {{ task.lection.versicle_set.first.chapter }}-{{ task.lection.versicle_set.last.chapter }}
                        {% endif %}
                    </p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-4 pb-4">
                        <p class="mb-2 fw-bold">
                            <a href="tasks/{{ task.id }}" class="btn btn-sm btn-primary float-end">Ler</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
