{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/admin/">Início</a>
    › <a href="/admin/core/">Core</a>
    › <a href="/admin/core/lection/">Leituras</a>
    › {{ title }}
    </div>

{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">

    <div id="content-main">
        <form action="{% url 'admin:core_lection_include_versicles' %}" method="post" id="versicle_in_lection">
            {% csrf_token %}

            <div>
                <fieldset class="module aligned">
                    <div class="form-row field-lection">
                        <div>
                            <label class="required">{{ form.lection.label }}</label>
                            {{ form.lection }}
                            {% for error in form.lection.errors %}
                                <label class="error small form-text invalid-feedback">{{ error }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-row field-book">
                        <div>
                            <label class="required">{{ form.book.label }}</label>
                            {{ form.book }}
                            {% for error in form.book.errors %}
                                <label class="error small form-text invalid-feedback">{{ error }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-row field-chapter">
                        <div>
                            <label class="required">{{ form.chapters.label }}</label>
                            {{ form.chapters }}
                            <br>
                            <small>{{ form.chapters.help_text }}</small>
                            {% for error in form.chapters.errors %}
                                <label class="error small form-text invalid-feedback">{{ error }}</label>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>

                <div class="submit-row">
                    <input type="hidden" name="action" value="{{ action_name }}"/>
                    <input type="hidden" name="post" value="yes"/>

                    <input type="submit" value="Salvar" class="default" name="_save"/>
                    <input type="submit" value="Salvar e adicionar outro(a)" name="_addanother">
                    <p class="deletelink-box"><a href="{% url 'admin:core_lection_changelist' %}" class="deletelink">Cancelar</a></p>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
