<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle me-3">Bíblia Católica</span>
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-header">Páginas</li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/">
                    <i class="align-middle" data-feather="home"></i>
                    <span class="align-middle">Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a data-bs-target="#multi" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Testamentos</span>
                </a>
                <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a data-bs-target="#old" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="book-open"></i>
                            <span>Antigo</span>
                        </a>
                        <ul id="old" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="/books/gn">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Gênesis</span>
                                </a>
                                <a class="sidebar-link" href="/books/ex">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Êxodo</span>
                                </a>
                                <a class="sidebar-link" href="/books/lv">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Levítico</span>
                                </a>
                                <a class="sidebar-link" href="/books/nm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Números</span>
                                </a>
                                <a class="sidebar-link" href="/books/dt">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Deuteronômio</span>
                                </a>
                                <a class="sidebar-link" href="/books/js">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Josué</span>
                                </a>
                                <a class="sidebar-link" href="/books/jz">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Juízes</span>
                                </a>
                                <a class="sidebar-link" href="/books/rt">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Rute</span>
                                </a>
                                <a class="sidebar-link" href="/books/1sm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Samuel</span>
                                </a>
                                <a class="sidebar-link" href="/books/2sm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Samuel</span>
                                </a>
                                <a class="sidebar-link" href="/books/1rs">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Reis</span>
                                </a>
                                <a class="sidebar-link" href="/books/2rs">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Reis</span>
                                </a>
                                <a class="sidebar-link" href="/books/1cr">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Crônicas</span>
                                </a>
                                <a class="sidebar-link" href="/books/2cr">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Crônicas</span>
                                </a>
                                <a class="sidebar-link" href="/books/ed">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Esdras</span>
                                </a>
                                <a class="sidebar-link" href="/books/ne">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Neemias</span>
                                </a>
                                <a class="sidebar-link" href="/books/tb">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Tobias</span>
                                </a>
                                <a class="sidebar-link" href="/books/jt">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Judite</span>
                                </a>
                                <a class="sidebar-link" href="/books/est">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Ester</span>
                                </a>
                                <a class="sidebar-link" href="/books/jó">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Jó</span>
                                </a>
                                <a class="sidebar-link" href="/books/sl">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Salmos</span>
                                </a>
                                <a class="sidebar-link" href="/books/1mc">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Macabeus</span>
                                </a>
                                <a class="sidebar-link" href="/books/2mc">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Macabeus</span>
                                </a>
                                <a class="sidebar-link" href="/books/pr">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Provérbios</span>
                                </a>
                                <a class="sidebar-link" href="/books/ecl">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Eclesiastes</span>
                                </a>
                                <a class="sidebar-link" href="/books/ct">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Cânticos</span>
                                </a>
                                <a class="sidebar-link" href="/books/sb">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Sabedoria</span>
                                </a>
                                <a class="sidebar-link" href="/books/eclo">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Eclesiástico</span>
                                </a>
                                <a class="sidebar-link" href="/books/is">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Isaías</span>
                                </a>
                                <a class="sidebar-link" href="/books/jr">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Jeremias</span>
                                </a>
                                <a class="sidebar-link" href="/books/lm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Lamentações</span>
                                </a>
                                <a class="sidebar-link" href="/books/br">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Baruc</span>
                                </a>
                                <a class="sidebar-link" href="/books/ez">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Ezequiel</span>
                                </a>
                                <a class="sidebar-link" href="/books/dn">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Daniel</span>
                                </a>
                                <a class="sidebar-link" href="/books/os">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Oséias</span>
                                </a>
                                <a class="sidebar-link" href="/books/jl">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Joel</span>
                                </a>
                                <a class="sidebar-link" href="/books/am">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Amós</span>
                                </a>
                                <a class="sidebar-link" href="/books/ab">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Abdias</span>
                                </a>
                                <a class="sidebar-link" href="/books/jn">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Jonas</span>
                                </a>
                                <a class="sidebar-link" href="/books/mq">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Miquéias</span>
                                </a>
                                <a class="sidebar-link" href="/books/na">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Naum</span>
                                </a>
                                <a class="sidebar-link" href="/books/hab">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Habacuc</span>
                                </a>
                                <a class="sidebar-link" href="/books/sf">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Sofonias</span>
                                </a>
                                <a class="sidebar-link" href="/books/ag">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Ageu</span>
                                </a>
                                <a class="sidebar-link" href="/books/zc">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Zacarias</span>
                                </a>
                                <a class="sidebar-link" href="/books/ml">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Malaquias</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-bs-target="#multi-2" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="book-open"></i>
                            <span>Novo</span>
                        </a>
                        <ul id="multi-2" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="/books/mt">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Ev. Mateus</span>
                                </a>
                                <a class="sidebar-link" href="/books/mc">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Ev. Marcos</span>
                                </a>
                                <a class="sidebar-link" href="/books/lc">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Ev. Lucas</span>
                                </a>
                                <a class="sidebar-link" href="/books/jo">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Ev. João</span>
                                </a>
                                <a class="sidebar-link" href="/books/at">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Atos dos Apóstolos</span>
                                </a>
                                <a class="sidebar-link" href="/books/rm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Romanos</span>
                                </a>
                                <a class="sidebar-link" href="/books/1cor">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Coríntios</span>
                                </a>
                                <a class="sidebar-link" href="/books/2cor">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Coríntios</span>
                                </a>
                                <a class="sidebar-link" href="/books/gl">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Gálatas</span>
                                </a>
                                <a class="sidebar-link" href="/books/ef">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Efésios</span>
                                </a>
                                <a class="sidebar-link" href="/books/fl">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Filipenses</span>
                                </a>
                                <a class="sidebar-link" href="/books/cl">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Colossenses</span>
                                </a>
                                <a class="sidebar-link" href="/books/1ts">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Tessalonicenses</span>
                                </a>
                                <a class="sidebar-link" href="/books/2ts">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Tessalonicenses</span>
                                </a>
                                <a class="sidebar-link" href="/books/1tm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Timóteo</span>
                                </a>
                                <a class="sidebar-link" href="/books/2tm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Timóteo</span>
                                </a>
                                <a class="sidebar-link" href="/books/tt">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Tito</span>
                                </a>
                                <a class="sidebar-link" href="/books/fm">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Filêmon</span>
                                </a>
                                <a class="sidebar-link" href="/books/hb">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Hebreus</span>
                                </a>
                                <a class="sidebar-link" href="/books/tg">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Tiago</span>
                                </a>
                                <a class="sidebar-link" href="/books/1pd">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I Pedro</span>
                                </a>
                                <a class="sidebar-link" href="/books/2pd">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II Pedro</span>
                                </a>
                                <a class="sidebar-link" href="/books/1jo">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>I João</span>
                                </a>
                                <a class="sidebar-link" href="/books/2jo">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>II João</span>
                                </a>
                                <a class="sidebar-link" href="/books/3jo">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>III João</span>
                                </a>
                                <a class="sidebar-link" href="/books/jd">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Judas</span>
                                </a>
                                <a class="sidebar-link" href="/books/ap">
                                    <i class="align-middle" data-feather="bookmark"></i>
                                    <span>Apocalipse</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
